h1{
font-size: 30px;
text-align: left;
color: #FF0000
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
 color: #FFFFFF; 
}

body {
background-color: #565656;
}
h2{
font-size: 30px;
text-align: left;
color: #FF0000
}